.top-nav {
    padding: 12px 25px;
    border-bottom: 1px solid #eee;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 121;
}

section.section_content {
    padding: 90px 30px 30px 30px;
    background: url(../images/pattern-bg-13.png) no-repeat top 0 left 15% / 29%;
    min-height: 90vh;
}