/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #858585;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #222222;
  line-height: 1.1;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}

.mr-20 {
  margin-right: 20px;
}

.mt-86 {
  margin-top: 86px;
}

.mb-86 {
  margin-bottom: 86px;
}

.gx-20 {
  --bs-gutter-x: 20px;
}

.gy-20 {
  --bs-gutter-y: 20px;
}

.gx-40 {
  --bs-gutter-x: 40px;
}

.gy-40 {
  --bs-gutter-y: 40px;
}

/*--------------------------------------------------------------
# BreakPoient
--------------------------------------------------------------*/
.bg_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.tutorBtn {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #FFFFFF;
  background: #2258BF;
  border-radius: 50px;
  padding: 20px 75px;
}

.scroll-top {
  width: 45px;
  height: 45px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 999992;
  border-radius: 50%;
  color: #FFFFFF;
  display: none;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #2258BF;
  background: -moz-gradient(135deg, #818181 33%, #2258BF 66%);
  background: -webkit-linear-gradient(135deg, #818181 33%, #2258BF 66%);
  background: -webkit-linear-gradient(315deg, #818181 33%, #2258BF 66%);
  background: -moz-linear-gradient(315deg, #818181 33%, #2258BF 66%);
  background: linear-gradient(135deg, #818181 33%, #2258BF 66%);
}
.scroll-top i {
  font-size: 18px;
  padding: 13.5px 15.75px;
}
.scroll-top:hover {
  background: #818181;
  background: -moz-gradient(135deg, #2258BF 33%, #818181 66%);
  background: -webkit-linear-gradient(135deg, #2258BF 33%, #818181 66%);
  background: -webkit-linear-gradient(315deg, #2258BF 33%, #818181 66%);
  background: -moz-linear-gradient(315deg, #2258BF 33%, #818181 66%);
  background: linear-gradient(135deg, #2258BF 33%, #818181 66%);
}

@media (max-width: 575px) {
  .mt-86 {
    margin-top: 48px;
  }
  .mb-86 {
    margin-bottom: 48px;
  }
}
@media (min-width: 1920px) {
  .product_filter__one .container-flwid {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
}
main {
  padding-left: 345px;
}

/*--------------------------------------------------------------
# Others
--------------------------------------------------------------*/
aside.tutor_sidebar {
  width: 345px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  box-shadow: 18px 4px 35px 0px rgba(0, 0, 0, 0.02);
  z-index: 1212;
  background: url(../images/pattern-bg-11.png) no-repeat bottom -10% right -10%/110%;
}
aside.tutor_sidebar .logo {
  padding: 37px 30px 30px 38px;
}

.top-nav {
  padding: 12px 25px;
  border-bottom: 1px solid #eee;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 121;
}

section.section_content {
  padding: 90px 30px 30px 30px;
  background: url(../images/pattern-bg-13.png) no-repeat top 0 left 15%/29%;
  min-height: 90vh;
}

#myInput {
  z-index: 99999;
}

.modal-dialog.searchModal {
  max-width: 100vw;
  height: 100vh;
  box-shadow: unset;
  border: unset;
  border-radius: unset;
  margin: 0;
}
.modal-dialog.searchModal .modal-content {
  height: 100vh;
  border: unset;
  border-radius: unset;
}
.modal-dialog.searchModal .modal-header {
  font-size: 35px;
  color: #2258BF;
  border: unset;
  padding: 40px;
}
.modal-dialog.searchModal .modal-header button {
  --bs-btn-close-color: #53ba00;
  color: #2258BF;
  box-shadow: unset;
  outline: unset;
  border: unset;
  background: unset;
}
.modal-dialog.searchModal .modal-header button i {
  font-size: 55px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
}
.modal-dialog.searchModal .modal-header button:hover i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.modal-dialog.searchModal .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal-dialog.searchModal .modal-body form {
  position: relative;
  max-width: 1008px;
  width: 100%;
}
.modal-dialog.searchModal .modal-body input[type=text] {
  padding: 0 2em 0 1em;
  height: 2.25em;
  line-height: 2.25em;
  font-size: 3em;
  font-weight: 300;
  border: none;
  text-align: left;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
  color: #222222;
  border-radius: 100px;
  box-shadow: 0 0 0 2px rgba(24, 24, 24, 0.1) inset;
  max-width: 1008px;
  width: 100%;
}
.modal-dialog.searchModal .modal-body button {
  border: 0 !important;
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
  border-radius: 0;
  width: 6.75em;
  height: 6.75em;
  background: transparent !important;
  border: 0;
  cursor: pointer;
  box-shadow: none !important;
  box-shadow: unset;
  outline: unset;
  border: unset;
  color: rgba(24, 24, 24, 0.1);
}
.modal-dialog.searchModal .modal-body button i {
  font-size: 40px;
}
.modal-dialog.searchModal .modal-body button:hover i {
  color: #2258BF;
}

/*# sourceMappingURL=tutor.css.map */
